<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Convert Videos to Black&White</title>
  </head>
  <body>
    {% extends "template.html" %} {% block content %}

    <h1>Convert Videos to Black&White</h1>
    <form method="POST" action="/process" enctype="multipart/form-data">
      <p>
        Upload Your Files(upto 75 MB):<input
          type="file"
          name="file"
          accept="video/*"
          required
        />
      </p>
      <p>
        E-mail address:
        <input
          type="email"
          name="emailaddress"
          placeholder="e.g. user@server.com"
          required
        />
      </p>
      <p><input type="submit" value="Submit" /></p>
    </form>
    <p>Powered By Flask</p>

    {% endblock %}
  </body>
</html>
