<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Compress your video files</title>
  </head>
  <body>
    {% extends "template.html" %} {% block content %}

    <h1>Compress your video files</h1>
    <form method="POST" action="/process" enctype="multipart/form-data">
      <p>
        Upload Your Files:<input
          type="file"
          name="file"
          accept="video/*"
          required
        />
      </p>
      <p>
        Scaling Factor(between 1 to 99):
        <input
          type="number"
          id="quantity"
          name="scaling_factor"
          min="1"
          max="99"
          required
        />
      </p>
      <p>
        E-mail address:
        <input
          type="email"
          name="emailaddress"
          placeholder="e.g. user@server.com"
          required
        />
      </p>
      <p><input type="submit" value="Submit" /></p>
    </form>
    <p>Powered By Flask</p>
    {% endblock %}
  </body>
</html>
